#rara-bg
#logo-signup.logo
  h1 RaaRaa
  h3 Party Party
#rara-container
  #login
    form#signup
      h2 Sign Up
      .field
        label(for='name') User
        input(name='name', type='text')
      .field
        label(for='pass') Pass
        input(name='pass', type='text')
      .field
        label(for='verify') Pass
        input(name='verify', type='text')
      .field
        input#signup-submit(name='submit', type='submit', value='Sign Up')
    #divider
    form#signin
      h2 Sign In
      .field
        label(for='name') User
        input(name='name', type='text')
      .field
        label(for='pass') Pass
        input(name='pass', type='text')
      .field
        input#signup-submit(name='submit', type='submit', value='Sign In')
