<div class="content" style="display:none">
  <a id="view-followers-btn" href="#invite">Who can see my photos?</a>      
  <div id="friends">
    <h4>Viewing</h4>
    <ul id="viewing-list" class="friends-list">

      <li>
        <img src="/img/profile/example-0.jpg" class="profile-pic"/>
        <h3 class="name">tedsuo</h3>
        <a href="#ignore/123" class="ignore">Hide</a>
        <a href="#delete/123" class="delete">Delete</a>            
      </li>
      <li>
        <img src="/img/profile/example-2.jpg" class="profile-pic"/>
        <h3 class="name">cooperq</h3>
        <a href="#ignore/123" class="ignore">Hide</a>
        <a href="#delete/123" class="delete">Delete</a>            
      </li>
    </ul>
    <h4>Hidden</h4>
    <ul id="hidden-list" class="friends-list">
      <li>
        <img src="/img/profile/example-1.jpg" class="profile-pic"/>
        <h3 class="name">micahflee</h3>
        <a href="#ignore/123" class="ignore">Show</a>
        <a href="#delete/123" class="delete">Delete</a>            
      </li>
    </ul>
  </div>
</div>