<div class="content" style="display:none">

  <div id="stream-controls">
    <a href="#stream/by_date" id="stream-date-sort-btn" class="sort-btn">By Date</a>
    <span>|</span>
    <a href="#stream/by_date" id="stream-date-sort-btn" class="sort-btn">Most Awesome</a>
  </div>
  
  <ul id="stream">
    <li id="image-567">
      <img src="/img/medium/example-0.jpg" class="img-medium"/>
      <div class="img-meta">
        <img src="/img/profile/example-0.jpg" class="small-profile-pic"/>
        <h3 class="name">tedsuo</h3>
        <a class="awesome-btn" href="#like/567">Awesome</a>
        <div class="clear"> </div>
      </div>
      <p class="pic-description">
        This google search result is a good example of why people need RaaRaa.
      </p>
    </li>
    <li id="image-567">
      <img src="/img/medium/example-1.jpg" class="img-medium"/>
      <div class="img-meta">
        <img src="/img/profile/example-2.jpg" class="small-profile-pic"/>
        <h3 class="name">cooperq</h3>
        <a class="awesome-btn" href="#like/567">Awesome</a>
        <div class="clear"> </div>
      </div>
      <p class="pic-description">
        This google search result is a good example for why people need RaaRaa.
      </p>
    </li>
    <li id="image-567">
      <img src="/img/medium/example-2.jpg" class="img-medium"/>
      <div class="img-meta">
        <img src="/img/profile/example-0.jpg" class="small-profile-pic"/>
        <h3 class="name">tedsuo</h3>
        <a class="awesome-btn" href="#like/567">Awesome</a>
        <div class="clear"> </div>
      </div>
      <p class="pic-description">
        This google search result is a good example for why people need RaaRaa.
      </p>
    </li>        
  </ul>
  
</div>