<div class="content" style="display:none">
  <div id="shouts">
    <div id="shout-form">
      <input class="shout-text-input" name="text" type="text" />
      <input name="submit" type="button" value="Say It"/>
    </div>
    <ul id="shouts-list">
      <li>
        <img src="/img/profile/example-0.jpg" class="small-profile-pic"/>
        <h3 class="name">tedsuo</h3>
        <span class="shout">Dude I had to clean that shit it was gross.</span>
      </li>
      <li>
        <img src="/img/profile/example-3.jpg" class="small-profile-pic"/>
        <h3 class="name">hainish</h3>
        <span class="shout">Heading to Tahoe this weekend it's gonna be awesome.</span>
      </li>
      <li>
        <img src="/img/profile/example-1.jpg" class="small-profile-pic"/>
        <h3 class="name">micahflee</h3>
        <span class="shout">Hahah yeah that was epic.</span>
      </li>          
      <li>
        <img src="/img/profile/example-2.jpg" class="small-profile-pic"/>
        <h3 class="name">cooperq</h3>
        <span class="shout">Did you see jenny puke in the punch bowl?</span>
      </li>

    </ul>
  </div>
</div>
