!!!
html
  head
    block styles
        link(rel='stylesheet', href='/stylesheets/styles.css', type='text/css')
    block scripts
        script(src='/lib/jquery.min.js')
        script(src='/lib/jquery-ui-1.8.13.custom.min.js')
        script(src='/lib/underscore-min.js')
        script(src='/lib/backbone.js')
        script(src='/lib/proto.js')
        script(src='/socket.io/socket.io.js')
    title
        #{title}
  body
    #rara-bg
    block content
