!!!
html
  head
    block styles
        link(rel='stylesheet', href='/stylesheets/styles.css', type='text/css')
    block scripts
        script(type='text/javascript', src='/lib/jquery.min.js')
        script(type='text/javascript', src='/lib/jquery-ui-1.8.13.custom.min.js')
        script(type='text/javascript', src='/lib/proto.js')
    title
        #{title}
  body
    #rara-bg
    block content
