extends layout

block content
  #logo-signup.logo
    h1 RaaRaa
    h3 Party Party
  #rara-container
    #login
      #errors= errors
      form#signup(method='post', action='/signup')
        h2 Sign Up
        .field
          label(for='username') User
          input#signup-user(name='username', type='text')
        .field
          label(for='password') Pass
          input#signup-pass(name='password', type='password')
        .field
          label(for='verify') Again
          input#signup-verify(name='verify', type='password')
        .field
          input#signup-submit(name='submit', type='submit', value='Sign Up')
      #divider
      form#signin(method='post', action='/login')
        h2 Sign In
        .field
          label(for='username') User
          input#signin-user(name='username', type='text')
        .field
          label(for='password') Pass
          input#signin-pass(name='password', type='password')
        .field
          input#signin-submit(name='submit', type='submit', value='Sign In')