<div class="content" style="display:none">

  <div id="stream-controls">
    <a href="#stream/by_date" id="stream-date-sort-btn" class="sort-btn">By Date</a>
    <span>|</span>
    <a href="#stream/by_date" id="stream-date-sort-btn" class="sort-btn">Most Awesome</a>
  </div>
  
  <table id="photo-table">
    <tr>
      <td>
        <img src="/img/medium/example-0.jpg" class="img-thumb"/>
      </td>
      <td>
        <img src="/img/medium/example-1.jpg" class="img-thumb"/>
      </td>
      <td>
        <img src="/img/medium/example-2.jpg" class="img-thumb"/>
      </td>          
    </tr>
    <tr>
      <td>
        <img src="/img/medium/example-0.jpg" class="img-thumb"/>
      </td>
      <td>
        <img src="/img/medium/example-1.jpg" class="img-thumb"/>
      </td>
      <td>
        <img src="/img/medium/example-2.jpg" class="img-thumb"/>
      </td>          
    </tr>
    <tr>
      <td>
        <img src="/img/medium/example-0.jpg" class="img-thumb"/>
      </td>
      <td>
        <img src="/img/medium/example-1.jpg" class="img-thumb"/>
      </td>
      <td>
        <img src="/img/medium/example-2.jpg" class="img-thumb"/>
      </td>          
    </tr>        
  </table>      
</div>